

.date-picker {
  height: 40px;
  width: 200px;
  font-size: 24px;
  padding: 10px;
  border: 2px solid rgb(151, 151, 214);
  border-width: 5px;
  background-color: #3366ff;
}

.time-picker {
  height: 40px;
  width: 200px;
  font-size: 24px;
  padding: 10px;
  border: 2px solid rgb(151, 151, 214);
  border-width: 5px;
  background-color: #3366ff;
}

.weather {
  width: 600px;
  height: 400px;
  background-color: #668cff;
  text-align: center;
  margin-left: auto;
  margin-right: 0;
}

.img {
  width:600px;
  height:400px;
  object-fit: fill;
  
}