.date-picker {
  height: 40px;
  width: 200px;
  font-size: 24px;
  padding: 10px;
  border: 2px solid #0099cc;
  border-width: 5px;
  background-color: #80dfff;
  border-radius: 20px 15px 15px 20px;
}

.time-picker {
  height: 40px;
  width: 200px;
  font-size: 24px;
  padding: 10px;
  border: 2px solid #0099cc;
  border-width: 5px;
  background-color: #80dfff;
  border-radius: 15px 20px 20px 15px;
}

.weather {
  width: 600px;
  height: 400px;
  background-color: #80dfff;
  text-align: center;
  padding: 10px;
  border: solid;
  border-radius: 30px;
  border-width: 10px;
  border-color: black;
}

.img {
  width:600px;
  height:400px;
  background-color: #80dfff;
  object-fit: fill;
  padding: 10px;
  border: solid;
  border-radius: 30px;
  border-width: 10px;
  border-color: black;
  margin-top: 15px;
}